* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: aqua; }
  body header, body main {
    background-color: #029987;
    color: #fff; }
    body header nav, body main nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body header nav h1 a, body main nav h1 a {
        color: #fff;
        text-decoration: none; }
      body header nav ul, body main nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body header nav ul li, body main nav ul li {
          margin-left: 15px;
          margin-right: 15px; }
          body header nav ul li a, body main nav ul li a {
            text-decoration: none;
            color: #fff; }
  body main section, body main footer div, body footer main div {
    display: flex;
    flex-direction: column; }
    body main section img, body main footer div img, body footer main div img {
      width: 100%;
      height: 500px; }
    body main section div p, body main footer div div p, body footer main div div p {
      text-align: center; }
      body main section div p a, body main footer div div p a, body footer main div div p a {
        color: #fff;
        text-decoration: none; }
  body footer div {
    text-align: center;
    background-color: #029987;
    color: #fff; }

/*//variable
$color-De-Fondo:#029987;
$color-De-Letra:#fff;

//mixin
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin estilos-Generales {
    background-color: $color-De-Fondo;
    color: $color-De-Letra;
}

//mapa
$estilo-Nav:(
    color-Standar:$color-De-Letra,
    bg-Standar: $color-De-Fondo,
    border-Standar: 1px solid black,

);*/
