*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../scss/variables";

body{
    background-color: aqua;
    header{
        @include estilos-Generales;
        nav{
            @include flex;
            h1{
                a{
                    color: $color-De-Letra;
                    text-decoration: none;
                }
            }  
            ul{
                list-style: none; 
                @include flex;
                li{
                    margin-left: 15px;
                    margin-right: 15px;

                    a{
                        text-decoration: none;
                        color: $color-De-Letra;
                    }
                }
            }
        }
            
    }
    main{
        @extend header ;
        section{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                height: 500px;

            }
            div{
                p{
                    text-align: center;
                    a{
                        color: map-get($map: $estilo-main , $key: color-Standar );
                        text-decoration: none;
                        
                    }
                }
            }
        }    
    }
    footer{
        div{
            @extend section ;
            text-align: center;
            @include estilos-Generales;
        }
        
    }
}



/*//variable
$color-De-Fondo:#029987;
$color-De-Letra:#fff;

//mixin
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin estilos-Generales {
    background-color: $color-De-Fondo;
    color: $color-De-Letra;
}

//mapa
$estilo-Nav:(
    color-Standar:$color-De-Letra,
    bg-Standar: $color-De-Fondo,
    border-Standar: 1px solid black,

);*/
